/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Paleta de Cores Renata Ribeiro Neuropsico */
  --color-primary: #D95C41;
  --color-secondary: #726FB2;
  --color-accent: #FFDE81;
  --color-text-dark: #3C3C3B;
  --color-text-light: #EDEDED;
  --color-background: #F9FAFB; /* Keeping existing background for now */
  --color-card-bg: #FFFFFF; /* Keeping white for card background */
  --color-light-reddish-orange: #EAB6AE;
  --color-light-yellow: #FFEFBB;
  --color-light-purplish-blue: #AEACD6;
  
  --spacing-unit: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw; 
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-dark);
  background-color: var(--color-background);
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

