/* src/styles/WhatsAppButton.module.css */

.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
  background-color: #1DA851; /* Darker green on hover */
}